# Gitignore

# Backend (.NET Core)
bin
obj
.user
.rsuser
.idea/

# General
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE/editor directories
.vs/
.vscode/

# File layout Visual Studio
DocumentLayout.json

# temp file

*.tmp
*.swp

# Frontend (React)
node_modules
.env
.env.*.local
build/
.DS_Store

# Operating system files
.DS_Store
Thumbs.db

# TypeScript cache (if using TypeScript)
*.tsbuildinfo

# 
applicationhost.config
.suo

# File layout Visual Studio
DocumentLayout.json


